footer {
  background-color: #381717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  bottom: 0;
  width: 100%;
  height: 8rem;
  color: floralwhite;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif; }

.footer P {
  margin: 40px; }

/*caja articuloUno*/
.cajas .cajas__caja {
  position: relative;
  width: 300px;
  background: white;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex; }

.cajas {
  overflow: hidden;
  position: relative;
  width: 1400PXpx;
  margin: auto;
  background: #585858; }

/*segundo menu*/
.secondMenu {
  background-color: white;
  text-align: center; }

.secondMenu ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px; }

.secondMenu ul li {
  display: inline-block;
  margin: 10px; }

.secondMenu ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  letter-spacing: 0px; }

/*botones del segundo nav*/
.secondMenu__botonOneS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonTwoS {
  background-color: white;
  border: 1px solid;
  height: 60px;
  width: 200px;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonTreeS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonForS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonFiveS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonSixS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

.secondMenu__botonSevenS {
  background-color: white;
  height: 60px;
  width: 200px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: #000000 0px -2px 10px 0px; }

/*color botones menu 2*/
.secondMenu__botonOneS {
  transition: heigth 2s; }

.secondMenu__botonOneS :hover {
  box-shadow: #09531f 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonTwoS {
  transition: heigth 2s; }

.secondMenu__botonTwoS :hover {
  box-shadow: #2adae0 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonTreeS {
  transition: heigth 2s; }

.secondMenu__botonTreeS :hover {
  box-shadow: #e6862c 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonForS {
  transition: heigth 2s; }

.secondMenu__botonForS :hover {
  box-shadow: #14338a 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonFiveS {
  transition: heigth 2s; }

.secondMenu__botonFiveS :hover {
  box-shadow: #f0f337 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonSixS {
  transition: heigth 2s; }

.secondMenu__botonSixS :hover {
  box-shadow: #f11f1f 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonSevenS {
  transition: heigth 2s; }

.secondMenu__botonSevenS :hover {
  box-shadow: #190341 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

/*contacto con Grid*/
#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1117px;
  padding: 1.5em; }

#content .logo {
  text-align: center;
  font-size: 3em; }

#content .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }

#content .contact-wrapper > * {
  border: 1px solid; }

#content .contact-form {
  background: dimgray; }

#content .contact-form form {
  margin: 0;
  padding: 1em; }

#content .contact-form form {
  display: grid;
  grid-template-columns: 1fr; }

#content .contact-info {
  background: black;
  text-align: center; }

#content .contact-info p {
  color: floralwhite;
  padding: 50px; }

@media (min-width: 700px) {
  #content .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr; } }

/*General*/
* {
  padding: 0px;
  margin: 0px; }

/*fondo del header*/
#sectionOne {
  background-image: url("../images/fondobanner1.png"); }

.sections {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  word-spacing: 5px;
  margin: 30px; }

.newsletter {
  list-style-type: none; }

h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 2px; }

h2 {
  color: #008600;
  font-weight: 100;
  text-align: left;
  text-align: center;
  margin: 2px; }

h3 {
  color: lightslategray;
  margin: 2px; }

article {
  text-align: center; }

/*Lo siguiente esta dentro de la pagina Donations y toprated*/
article p {
  color: darkslategrey;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 2px; }

/*Donations*/
.skrill {
  text-align: center; }

.skrill img {
  width: 200px;
  height: 100px; }

/*barra de navegacion*/
nav {
  text-align: right; }

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 2px; }

/*colocar menu en una sola linea*/
nav ul li {
  display: inline-block; }

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  letter-spacing: 0px; }

/*color de los botones principales*/
.nav-linkOne {
  background-color: #1f4b25; }

.nav-linkTwo {
  background-color: #1f4b25; }

.nav-linkTree {
  background-color: #1f4b25; }

.nav-linkFor {
  background-color: indigo; }

/*Boddy*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }

/*banners del roll principal de imagenes*/
.lessons {
  text-align: center; }

header {
  background-color: #ffffff; }

/*sections*/
.sectionsIcons img {
  width: 100px;
  height: 100px; }

.sectionsIcons {
  text-align: center; }

/*----------conteiners de las secciones con flexbox--------------*/
/*youtube*/
.containerBoxsTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  background-color: #115849; }

.containerBoxsTop p {
  margin: 10px; }

.containerBoxsTop .boxTop {
  padding: 100px;
  background-color: #b3b3b3;
  margin: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center; }

.containerBoxs {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center; }

.containerBoxs .box {
  padding: 100px;
  background-color: #b3b3b3;
  margin: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center; }

#sectionOne h1 {
  color: #e7ab29;
  display: inline-block;
  margin-left: 100px;
  margin: auto; }

/*animacion*/
/*Agrandar imagen en index*/
.lessons {
  transition: heigth 2s; }

.lessons :hover {
  height: 500px; }

/*color botones menu 2*/
.secondMenu__botonOneS {
  transition: heigth 2s; }

.secondMenu__botonOneS :hover {
  box-shadow: #09531f 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonTwoS {
  transition: heigth 2s; }

.secondMenu__botonTwoS :hover {
  box-shadow: #2adae0 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonTreeS {
  transition: heigth 2s; }

.secondMenu__botonTreeS :hover {
  box-shadow: #e6862c 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonForS {
  transition: heigth 2s; }

.secondMenu__botonForS :hover {
  box-shadow: #14338a 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonFiveS {
  transition: heigth 2s; }

.secondMenu__botonFiveS :hover {
  box-shadow: #f0f337 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonSixS {
  transition: heigth 2s; }

.secondMenu__botonSixS :hover {
  box-shadow: #f11f1f 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

.secondMenu__botonSevenS {
  transition: heigth 2s; }

.secondMenu__botonSevenS :hover {
  box-shadow: #190341 0px -2px 10px 0px;
  height: 60px;
  width: 195px; }

/*texto en el banner*/
@keyframes efecto {
  0% {
    width: 800px;
    color: #8b793f; }
  25% {
    width: 800px;
    color: #ecff98; }
  50% {
    width: 800px;
    color: #7e994d; }
  75% {
    width: 800px;
    color: tomato; }
  100% {
    width: 800px;
    color: yellow; } }

#sectionOne h1 {
  -ms-transform-origin-x: skew(20deg, 10deg);
  color: #e7ab29;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 0s;
  overflow: auto; }

/*contenedores*/
.containerBoxsTopYoutube {
  width: 100%;
  background: #f11f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.containerBoxsTopYoutube img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopWebpages {
  width: 100%;
  background: #2c4125;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto; }

.containerBoxsTopWebpages img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopAndroid {
  width: 100%;
  background: #6bbbbb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.containerBoxsTopAndroid img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopTwitch {
  width: 100%;
  background: #5d26a5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.containerBoxsTopTwitch img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopServers {
  width: 100%;
  background: #0038b1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.containerBoxsTopServers img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopIos {
  justify-content: space-between;
  width: 100%;
  background: #b67a0b;
  display: flex;
  flex-wrap: wrap; }

.containerBoxsTopIos img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

.containerBoxsTopForKids {
  width: 100%;
  background: #bac51e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.containerBoxsTopForKids img {
  height: 200px;
  width: 20rem;
  margin: 25px;
  padding-left: 2rem;
  border-radius: 2px;
  box-shadow: #000000 0px -2px 18px 0px; }

/*barra de navegacion*/
.navbar navbar-expand-lg navbar-light {
  background-color: black; }

#navbarNav a {
  color: floralwhite; }

.navbar-toggler {
  background-color: gainsboro; }
