/*caja articuloUno*/

.cajas{
    overflow: hidden;
    position: relative;
    width: 1400px;
    margin: auto;
    background: rgb(88, 88, 88);
    .cajas__caja{
        position: relative;
        width: 300px;
        background: rgb(255, 255, 255);
        margin:auto;
        overflow: hidden;
        border-radius: 10px;
        display:flex;
       }
    }