/*contacto */
#content {
    padding-top: 4rem;
    h2{
    color: rgb(0, 0, 0)!important;
    text-transform: uppercase;
    font-family: Poppins;
    text-align: center;
    }
    p{
    font-family: Poppins;
    text-align: center;
}
.row img{
    margin-left: 200px;
    }
}

.contact-form{
    background-image: url("../images/e3.jpg");
    background-repeat:round;
        font-family: Poppins;
    color: rgb(54, 33, 33);
    padding: 20px;
    box-shadow: 0px 0px 10px 3px rgb(143, 143, 143);
    
    
}

hr{
    background: rgb(255, 230, 5);
}

