/*Donations*/


#donations {
  background-color: #ffffff73;
  padding-top: 4rem;
      
      
      p{
        color: #000000;
        font-family: 'Poppins', sans-serif;
        text-transform: initial;
        font-size: 15px;  
        letter-spacing: 3px;
      }
    }


#donations .container{
  background-image: url("../images/donationcard2.png");

    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgb(143, 143, 143);
 }


.donations{
padding: 80px 0;
line-height: 25px;
font-family: 'Poppins', sans-serif;
   
    a i{
    background-color: #0f4c75;
    font-size: 40px;
    color:rgb(255, 255, 255);
    padding: 15px 15px;
    text-align: center;
    border-radius: 10%;
    line-height: 40px;
    margin-top: 2rem;

    }
    a i:hover{
    background-color: #1f5bb6a4;

    }
}

#donations .card{
  background-color: #30384100;

  }