.footerr {
  background-color: #1b262c;
  padding: 60px 0;
      p{
      color: rgb(255, 255, 255);
      line-height: 25px;
      }
      h2,h3{
      color: #eeeeee;
      }
      h2{
        font-size: 18px;
      }
       
}

.segment-two h2{
  font-family: 'Pontano Sans', sans-serif;
  color: #eeeeee;
  text-transform: uppercase;
  }


  .segment-two h2:before{
    content:'|';
    color: #fcbf1e;
    padding-right: 10px;
  }
  .segment-two ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
        border-bottom: 1px solid rgba(255,255,255,0.3);
        line-height: 40px;
    }
    
    .segment-two ul li a {
        color: rgb(189, 189, 189);
        text-decoration: none;
    }

    .segment-three h2{
        color:#eeeeee;
        font-family: 'Pontano Sans', sans-serif;
        text-transform: uppercase;

    }
    .segment-three h2:before{
        content:'|';
        color: #fcbf1e;
        padding-right: 10px;
      }
      .segment-three a{
        background: #494848;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
      }
      .segment-three a i{
        font-size: 20px;
        color:#eeeeee;
        padding: 10px 12px;
      }
      .segment-three a:hover{
        background-color: #fcbf1e;
      }

      .segment-four h2{
        color:#eeeeee;
        font-family: 'Pontano Sans', sans-serif;

        text-transform: uppercase;
        }
        .segment-four h2:before{
            content:'|';
            color: #fcbf1e;
            padding-right: 10px;
            
          }
          .segment-four form input[type=submit]{
            background: #fcbf1e;
            
          }

          .footer-bottom-text {
              text-align: center;
            background: #1b262c;
            color:white !important;
          }

          .footerr  .footer-bottom-text {
          color: rgb(255, 251, 251);
          }
          .footerr  form{
          padding-top: 1rem;
          }

